<h1 align=center> Limpieza de Datos

Preprocesamiento del [original dataset] generando nuevos archivos en la carpeta [data] para su posterior análisis. <br>
La exploración inicial de datos (EDA) y los detalles del análisis de duplicados, faltantes y outliers se encuentra en los archivos EDA1.ipynb y EDA2.ipynb

In [10]:
from dbfread import DBF
import pandas as pd

## 1. Zonas de Servicio

importamos librerías y cargamos el primer archivo

In [11]:
df1 = pd.read_csv(r'..\original data\Taxi+_zone_lookup.csv')
df1

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

Limpiamos los registros nulos (detalles en EDA)

In [12]:
df1 = df1.dropna()
df1

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
258         259          Bronx       Woodlawn/Wakefield    Boro Zone
259         260         Queens                 Woodside    Boro Zone
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone

[263 rows x 4 columns]

Cargamos un segundo archivo de zonas para su merge

In [13]:
dbf_file = r'..\original data\taxi_zones.dbf'
table = DBF(dbf_file)
df2 = pd.DataFrame(iter(table))
df2

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough
0,1,0.116357,0.000782,Newark Airport,1,EWR
1,2,0.433470,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,0.000498,Arden Heights,5,Staten Island
...,...,...,...,...,...,...
258,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx
259,260,0.133514,0.000422,Woodside,260,Queens
260,261,0.027120,0.000034,World Trade Center,261,Manhattan
261,262,0.049064,0.000122,Yorkville East,262,Manhattan
262,263,0.037017,0.000066,Yorkville West,263,Manhattan

Combinamos ambos dataset en un único archivo por zona

In [14]:
dfzonas = pd.merge(df1, df2, on='LocationID', how='inner')
dfzonas

,LocationID,Borough,Zone,service_zone,OBJECTID,Shape_Leng,Shape_Area,zone,borough
0,1,EWR,Newark Airport,EWR,1,0.116357,0.000782,Newark Airport,EWR
1,2,Queens,Jamaica Bay,Boro Zone,2,0.433470,0.004866,Jamaica Bay,Queens
2,3,Bronx,Allerton/Pelham Gardens,Boro Zone,3,0.084341,0.000314,Allerton/Pelham Gardens,Bronx
3,4,Manhattan,Alphabet City,Yellow Zone,4,0.043567,0.000112,Alphabet City,Manhattan
4,5,Staten Island,Arden Heights,Boro Zone,5,0.092146,0.000498,Arden Heights,Staten Island
...,...,...,...,...,...,...,...,...,...
258,259,Bronx,Woodlawn/Wakefield,Boro Zone,259,0.126750,0.000395,Woodlawn/Wakefield,Bronx
259,260,Queens,Woodside,Boro Zone,260,0.133514,0.000422,Woodside,Queens
260,261,Manhattan,World Trade Center,Yellow Zone,261,0.027120,0.000034,World Trade Center,Manhattan
261,262,Manhattan,Yorkville East,Yellow Zone,262,0.049064,0.000122,Yorkville East,Manhattan
262,263,Manhattan,Yorkville West,Yellow Zone,263,0.037017,0.000066,Yorkville West,Manhattan

Conservamos sólo las columnas útiles

In [15]:
columnas_quedan = ['LocationID', 'Borough','Zone', 'service_zone', 'Shape_Leng', 'Shape_Area' ]
dfzonas = dfzonas[columnas_quedan]
dfzonas

,LocationID,Borough,Zone,service_zone,Shape_Leng,Shape_Area
0,1,EWR,Newark Airport,EWR,0.116357,0.000782
1,2,Queens,Jamaica Bay,Boro Zone,0.433470,0.004866
2,3,Bronx,Allerton/Pelham Gardens,Boro Zone,0.084341,0.000314
3,4,Manhattan,Alphabet City,Yellow Zone,0.043567,0.000112
4,5,Staten Island,Arden Heights,Boro Zone,0.092146,0.000498
...,...,...,...,...,...,...
258,259,Bronx,Woodlawn/Wakefield,Boro Zone,0.126750,0.000395
259,260,Queens,Woodside,Boro Zone,0.133514,0.000422
260,261,Manhattan,World Trade Center,Yellow Zone,0.027120,0.000034
261,262,Manhattan,Yorkville East,Yellow Zone,0.049064,0.000122
262,263,Manhattan,Yorkville West,Yellow Zone,0.037017,0.000066

Se guarda el dataframe en un archivo Service Zones.csv

In [16]:
dfzonas.to_csv('..\data\Service Zones.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\migue\AppData\Local\Temp\ipykernel_912\3711016812.py:1: SyntaxWarning: invalid escape sequence '\d'
  dfzonas.to_csv('..\data\Service Zones.csv', index=False)

## 2. Electric Car Data

In [17]:
df = pd.read_csv(r'..\original data\ElectricCarData_Clean.csv')
df

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,7.5,160,330,191,440,Yes,FWD,Type 2 CCS,Hatchback,C,5,45000
99,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540,Yes,AWD,Type 2 CCS,SUV,E,5,96050
100,Nissan,Ariya e-4ORCE 63kWh,5.9,200,325,194,440,Yes,AWD,Type 2 CCS,Hatchback,C,5,50000
101,Nissan,Ariya e-4ORCE 87kWh Performance,5.1,200,375,232,450,Yes,AWD,Type 2 CCS,Hatchback,C,5,65000
102,Byton,M-Byte 95 kWh 2WD,7.5,190,400,238,480,Yes,AWD,Type 2 CCS,SUV,E,5,62000

Se transforma la columna 'FastCharge_KmH' a numérica, cambiando entradas nulas '-' por NaN

In [ ]:
df['FastCharge_KmH']=pd.to_numeric(df['FastCharge_KmH'], errors='coerce')

Se guarda la data en un archivo Electric Car.csv

In [24]:
df.to_csv('..\data\Electric Cars.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\migue\AppData\Local\Temp\ipykernel_912\4281111908.py:1: SyntaxWarning: invalid escape sequence '\d'
  df.to_csv('..\data\Electric Cars.csv', index=False)

## 3. Vehicle Fuel Economy

importamos el dataset original

In [25]:
df = pd.read_csv(r'..\original data\Vehicle Fuel Economy Data.csv')
df

C:\Users\migue\AppData\Local\Temp\ipykernel_912\2463226625.py:1: DtypeWarning: Columns (73,75) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'..\original data\Vehicle Fuel Economy Data.csv')

,Year,Manufacturer,Model,barrels08,barrelsA08,charge240,city08,city08U,cityA08,cityA08U,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,2017,BMW,M6 Coupe,17.500588,0.0,0.0,15.0,14.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,09-09-2016,Y,0.0,0.0,0.0
1,2017,BMW,X3 sDrive28i,12.396250,0.0,0.0,21.0,21.0,0.0,0.0,...,BMX,NaN,0.0,NaN,04-04-2016,22-11-2016,Y,0.0,0.0,0.0
2,2016,Infiniti,Q50S Red Sport,13.523182,0.0,0.0,20.0,19.0,0.0,0.0,...,NSX,NaN,0.0,NaN,04-04-2016,26-09-2016,N,0.0,0.0,0.0
3,2017,MINI,John Cooper Works Convertible,11.018889,0.0,0.0,24.0,23.0,0.0,0.0,...,BMX,NaN,0.0,NaN,12-04-2016,16-09-2016,Y,0.0,0.0,0.0
4,2017,Kia,Sedona SX,14.167143,0.0,0.0,18.0,18.0,0.0,0.0,...,KMX,NaN,0.0,NaN,12-04-2016,02-12-2016,N,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46181,1993,Plymouth,Sundance/Duster,12.935217,0.0,0.0,21.0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,01-01-2013,01-01-2013,NaN,0.0,0.0,0.0
46182,1993,Pontiac,Grand Am,14.167143,0.0,0.0,18.0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,01-01-2013,01-01-2013,NaN,0.0,0.0,0.0
46183,1993,Saab,900,14.167143,0.0,0.0,18.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46184,1993,Subaru,Legacy,13.523182,0.0,0.0,19.0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,01-01-2013,01-01-2013,NaN,0.0,0.0,0.0
46185,1993,Subaru,Legacy AWD,14.167143,0.0,0.0,18.0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,01-01-2013,01-01-2013,NaN,0.0,0.0,0.0

### Conservamos sólo las columnas de interés para el análisis

In [27]:
columnas_quedan = ['Year', 'Manufacturer', 'Model', 'barrels08', 'city08', 'co2', 'co2TailpipeGpm', 'comb08', 'drive', 'fuelCost08', 'fuelType1', 'ghgScore', 'highway08', 'id', 'UCity']
df = df[columnas_quedan]
df.head()

,Year,Manufacturer,Model,barrels08,city08,co2,co2TailpipeGpm,comb08,drive,fuelCost08,fuelType1,ghgScore,highway08,id,UCity
0,2017,BMW,M6 Coupe,17.500588,15.0,519.0,519.0,17.0,Rear-Wheel Drive,3850.0,Premium Gasoline,3.0,22.0,37330.0,17.9989
1,2017,BMW,X3 sDrive28i,12.396250,21.0,374.0,374.0,24.0,Rear-Wheel Drive,2700.0,Premium Gasoline,5.0,28.0,37343.0,26.7866
2,2016,Infiniti,Q50S Red Sport,13.523182,20.0,402.0,402.0,22.0,Rear-Wheel Drive,2950.0,Premium Gasoline,5.0,26.0,37348.0,25.1000
3,2017,MINI,John Cooper Works Convertible,11.018889,24.0,327.0,327.0,27.0,Front-Wheel Drive,2400.0,Premium Gasoline,6.0,32.0,37352.0,30.8534
4,2017,Kia,Sedona SX,14.167143,18.0,433.0,433.0,21.0,Front-Wheel Drive,2550.0,Regular Gasoline,4.0,25.0,37355.0,22.8000

guardamos en archivo Vehicle Fuel Economy.csv

In [28]:
df.to_csv('..\data\Vehicle Fuel Economy.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\migue\AppData\Local\Temp\ipykernel_912\3549030525.py:1: SyntaxWarning: invalid escape sequence '\d'
  df.to_csv('..\data\Vehicle Fuel Economy.csv', index=False)

### 4. Alternative Fuel Vehicle

importamos la data original

In [29]:
df = pd.read_csv(r'..\original data\Alternative Fuel Vehicles US.csv')
df

,Category,Model,Model Year,Manufacturer,Fuel,All-Electric Range,PHEV Total Range,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Conventional Fuel Economy Combined,Transmission Type,Transmission Make,Engine Type,Engine Size,Engine Cylinder Count,Number of Passengers,Heavy-Duty Power System,Notes,Drivetrain
0,Sedan/Wagon,NSX,2022.0,Acura,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,21.0,Auto,NaN,SI,3.5L,6.0,NaN,NaN,NaN,AWD
1,Sedan/Wagon,A3,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,32.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,FWD
2,Sedan/Wagon,A3 quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,31.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,AWD
3,Sedan/Wagon,A4 allroad quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,26.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,AWD
4,Sedan/Wagon,A4 quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,NaN,NaN,NaN,...,29.0,Auto,NaN,SI,2.0L,4.0,NaN,NaN,NaN,AWD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877,Street Sweeper,HSP,NaN,TYMCO,CNG - Compressed Natural Gas,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cummins Westport L9N 8.9L Near Zero,NaN,NaN
878,Step Van,(various models),NaN,Utilimaster,Electric,NaN,NaN,NaN,NaN,NaN,...,NaN,Automatic,NaN,NaN,NaN,NaN,NaN,NaN,According to manufacturer: Various platforms a...,NaN
879,Transit Bus,CX45E,NaN,Van Hool,Electric,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Up to 56,Siemens ELFA2 Electric Drive System 360kW,According to manufacturer: 676 kWh battery sto...,NaN
880,Tractor,VNR Electric - Class 8,NaN,Volvo,Electric,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"According to manufacturer: 340kW; 455hp; 4,051...",NaN
881,Step Van,C-Series,NaN,Workhorse,Electric,NaN,NaN,NaN,NaN,NaN,...,NaN,Automatic,NaN,NaN,NaN,NaN,NaN,Workhorse Dual Axial Flux Interior Permanent M...,According to manufacturer: Up to 105 kWh batte...,NaN

### Conservamos sólo las columnas de interés

In [30]:
columnas_quedan = ['Category', 'Model', 'Model Year', 'Manufacturer', 'Fuel',
      'Alternative Fuel Economy City', 'Alternative Fuel Economy Combined', 'Conventional Fuel Economy City',
       'Conventional Fuel Economy Combined', 'Drivetrain']
df=df[columnas_quedan]
df.head()

,Category,Model,Model Year,Manufacturer,Fuel,Alternative Fuel Economy City,Alternative Fuel Economy Combined,Conventional Fuel Economy City,Conventional Fuel Economy Combined,Drivetrain
0,Sedan/Wagon,NSX,2022.0,Acura,Hybrid Electric,NaN,NaN,21.0,21.0,AWD
1,Sedan/Wagon,A3,2022.0,Audi,Hybrid Electric,NaN,NaN,29.0,32.0,FWD
2,Sedan/Wagon,A3 quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,28.0,31.0,AWD
3,Sedan/Wagon,A4 allroad quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,24.0,26.0,AWD
4,Sedan/Wagon,A4 quattro,2022.0,Audi,Hybrid Electric,NaN,NaN,26.0,29.0,AWD

Guardamos en un archivo Alternative Fuel Vehicle.csv

In [31]:
df.to_csv('..\data\Alternative Fuel Vehicle.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\migue\AppData\Local\Temp\ipykernel_912\2506242340.py:1: SyntaxWarning: invalid escape sequence '\d'
  df.to_csv('..\data\Alternative Fuel Vehicle.csv', index=False)

## 5. Light Duty Vehicle

In [32]:
df = pd.read_csv(r'..\original data\Light Duty Vehicles.csv')
df

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Category ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Manufacturer URL,Category,Fuel Code,Fuel,Fuel Configuration Name,Electric-Only Range,PHEV Total Range,PHEV Type,Notes,Drivetrain
0,13044,45,9.0,365,27,NSX,2022,NaN,NaN,NaN,...,http://www.acura.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
1,12854,45,9.0,377,27,A3,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,FWD
2,12842,45,9.0,377,27,A3 quattro,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
3,12783,45,9.0,377,27,A4 allroad quattro,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
4,12782,45,9.0,377,27,A4 quattro,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3003,656,3,1.0,225,9,Ram Van B250,1992,NaN,NaN,NaN,...,http://www.dodge.com,Van,CNG,CNG - Compressed Natural Gas,Dedicated,NaN,NaN,NaN,NaN,NaN
3004,660,49,5.0,225,27,Spirit FFV,1992,NaN,NaN,NaN,...,http://www.dodge.com,Sedan/Wagon,M85_GSLN,Methanol,Flexible Fuel,NaN,NaN,NaN,NaN,NaN
3005,658,49,5.0,219,9,Econoline-Fleet Demo FFV,1992,NaN,NaN,NaN,...,https://www.ford.com,Van,M85_GSLN,Methanol,Flexible Fuel,NaN,NaN,NaN,NaN,NaN
3006,650,49,5.0,215,27,Lumina FFV,1991,NaN,NaN,NaN,...,http://www.chevrolet.com,Sedan/Wagon,M85_GSLN,Methanol,Flexible Fuel,NaN,NaN,NaN,NaN,NaN
3007,649,49,5.0,219,27,Taurus FFV,1991,14.0,19.0,NaN,...,https://www.ford.com,Sedan/Wagon,M85_GSLN,Methanol,Flexible Fuel,NaN,NaN,NaN,NaN,NaN

### Se eliminan columnas que no resultan relevantes para el análisis

In [33]:
columnas_quedan = ['Vehicle ID', 'Fuel ID', 'Fuel Configuration ID', 'Manufacturer ID', 'Model', 'Model Year', 'Alternative Fuel Economy City',
       'Alternative Fuel Economy Combined',
       'Conventional Fuel Economy City','Conventional Fuel Economy Combined','Manufacturer', 'Category', 'Fuel Code', 'Fuel', 'Drivetrain' ]
df=df[columnas_quedan]
df.head()

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Combined,Conventional Fuel Economy City,Conventional Fuel Economy Combined,Manufacturer,Category,Fuel Code,Fuel,Drivetrain
0,13044,45,9.0,365,NSX,2022,NaN,NaN,21.0,21.0,Acura,Sedan/Wagon,HYBR,Hybrid Electric,AWD
1,12854,45,9.0,377,A3,2022,NaN,NaN,29.0,32.0,Audi,Sedan/Wagon,HYBR,Hybrid Electric,FWD
2,12842,45,9.0,377,A3 quattro,2022,NaN,NaN,28.0,31.0,Audi,Sedan/Wagon,HYBR,Hybrid Electric,AWD
3,12783,45,9.0,377,A4 allroad quattro,2022,NaN,NaN,24.0,26.0,Audi,Sedan/Wagon,HYBR,Hybrid Electric,AWD
4,12782,45,9.0,377,A4 quattro,2022,NaN,NaN,26.0,29.0,Audi,Sedan/Wagon,HYBR,Hybrid Electric,AWD

### Se guarda en archivo Light Duty Vehicle.csv

In [34]:
df.to_csv('..\data\Light Duty Vehicle.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\migue\AppData\Local\Temp\ipykernel_912\1738840890.py:1: SyntaxWarning: invalid escape sequence '\d'
  df.to_csv('..\data\Light Duty Vehicle.csv', index=False)

## 6. Electric and Alternative Fuel Chargin Stations

In [35]:
df = pd.read_csv(r'..\original data\Electric and Alternative Fuel Charging Stations.csv')
df

C:\Users\migue\AppData\Local\Temp\ipykernel_912\4237705068.py:1: DtypeWarning: Columns (6,16,20,31,33,36,39,40,41,43,46,52,53,55,57,58,60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'..\original data\Electric and Alternative Fuel Charging Stations.csv')

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,MD,NaN,NaN,NaN
1,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on...",Atlanta,GA,30303,NaN,770-350-3000,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,NaN,E,...,NaN,NaN,NaN,NaN,Q,3000,LD,NaN,NaN,NaN
3,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,HD,NaN,NaN,NaN
4,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,NaN,479-783-3188,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70401,ELEC,SCHLITZ PARK SCHLITZ PARK,1555 N River Center Dr,NaN,Milwaukee,WI,53212,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70402,ELEC,NEXUS EAST STATION 2,720 Airport Blvd,NaN,Austin,TX,78702,NaN,888-758-4389,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70403,ELEC,Raley's,6119 Horseshoe Bar Rd,NaN,Loomis,CA,95650,NaN,877-455-3833,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70404,ELEC,13601 Glenoaks blvd,13601 Glenoaks blvd,NaN,Los Angeles,CA,91342,NaN,888-356-8911,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70405,ELEC,6723 Van Nuys blvd,6723 Van Nuys Blvd,NaN,Los Angeles,CA,91405,NaN,888-356-8911,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Conservamos unicamente columnas relevantes

In [36]:
columnas_quedan= ['Fuel Type Code', 'Station Name', 'Street Address', 'City', 'State', 'ZIP', 'Groups With Access Code','Latitude', 'Longitude', 'ID', 'Country' ]
df = df[columnas_quedan]
df.head()

,Fuel Type Code,Station Name,Street Address,City,State,ZIP,Groups With Access Code,Latitude,Longitude,ID,Country
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,Montgomery,AL,36107,Private,32.367916,-86.267021,17,US
1,CNG,PS Energy - Atlanta,340 Whitehall St,Atlanta,GA,30303,Public - Card key at all times,33.745843,-84.398837,42,US
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,Atlanta,GA,30324,Private - Government only,33.821911,-84.367461,45,US
3,CNG,United Parcel Service,270 Marvin Miller Dr,Atlanta,GA,30336,Private,33.760256,-84.543822,64,US
4,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,Fort Smith,AR,72903,Public - Credit card at all times,35.362213,-94.375338,73,US

Se guarda en un archivo Electric Alternative Stations.csv

In [37]:
df.to_csv('..\data\Electric Alternative Stations.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\migue\AppData\Local\Temp\ipykernel_912\3065768248.py:1: SyntaxWarning: invalid escape sequence '\d'
  df.to_csv('..\data\Electric Alternative Stations.csv', index=False)

### El resto de los archivos del dataset original utilizados son muy grandes para procesar por este medio. Se conectarán al Datalake de forma directa